body {
    font-family: Arial, sans-serif;
}

form {
    width: 400px;
    margin: 20px;
}

label, input, select, textarea {
    display: block;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

#resultadoBusqueda {
    margin: 20px;
}
